<script>
	function GetRandomQuestion() {
		fetch('/api/v1/random')
			.then(file => file.text())
			.then(text => {
				window.currentQuestion = text
				let div = document.getElementById('question')
				div.innerHTML = text.split('\n')[0]
				MathJax.typeset()
			})
	}
	function ShowAnswer() {
		let div = document.getElementById('question')
		div.innerHTML = window.currentQuestion
		MathJax.typeset()
	}
</script>

<div id="question"></div>
<button onclick="GetRandomQuestion()">Random</button>
<button onclick="ShowAnswer()">Show answer</button>

