html {
  margin-left: 10%;
  margin-right: 10%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
}

body > mjx-container {
  display: none;
}

.todo {
  color: red;
}

.note {
  color: orange;
}

:target {
  background-color: lightyellow;
  transition: 1s;
}

